body, html{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    min-height: 100vh;
    max-height: 3000px;
    background: #000;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center{
    width: calc(250px + 10vw);
    height: calc(250px + 10vw);
    background-color: rgb(74, 255, 74);
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.restart{
    border-radius: 15px;
    margin-top: 10px;
    background-color: greenyellow;
    border: 1px solid gray;
    color: blue;
    width: 125px;
    padding: 5px;
}    
.title{
    color: rgb(74, 255, 74);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}

.screen{
    color: rgb(74, 255, 74);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:calc(20px + 1.5vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 3px solid rgb(74, 255, 74);
    padding: 20px;
    padding-top: 0px;
    min-width: 131px;;
}

.popup{
    max-width: c;
    position: fixed;
    background-color:blue;
    color: greenyellow;
    border-radius: 90px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid yellow;
    flex-direction: column;
    visibility: hidden;
}

.popup-open{
    max-width: c;
    position: fixed;
    background-color:blue;
    color: greenyellow;
    border-radius: 90px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 250px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid yellow;
    flex-direction: column;
    top:25%;
    box-shadow: rgb(17, 0, 255) 0px 12px 28px 0px,
    rgb(17, 0, 255) 0px 2px 4px 0px,
    rgb(17, 0, 255) 0px 0px 0px 1px inset;
}

.popup1{
    max-width: c;
    position: fixed;
    background-color:blue;
    color: greenyellow;
    border-radius: 90px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid yellow;
    flex-direction: column;
    visibility: hidden;
}

.popup-open1{
    max-width: c;
    position: fixed;
    background-color:blue;
    color: greenyellow;
    border-radius: 90px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 250px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid yellow;
    flex-direction: column;
    top:25%;
    box-shadow: rgb(17, 0, 255) 0px 12px 28px 0px,
    rgb(17, 0, 255) 0px 2px 4px 0px,
    rgb(17, 0, 255) 0px 0px 0px 1px inset;
}

.popup2{
    max-width: c;
    position: fixed;
    background-color:blue;
    color: greenyellow;
    border-radius: 90px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid yellow;
    flex-direction: column;
    visibility: hidden;
}

.popup-open2{
    max-width: c;
    position: fixed;
    background-color:blue;
    color: greenyellow;
    border-radius: 90px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 250px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid yellow;
    flex-direction: column;
    top:25%;
    box-shadow: rgb(17, 0, 255) 0px 12px 28px 0px,
    rgb(17, 0, 255) 0px 2px 4px 0px,
    rgb(17, 0, 255) 0px 0px 0px 1px inset;
}

.words{
    margin-left: 10px;
    margin-right: 10px;
}

.big{
    font-size: calc(10px + 4vw);
    word-break: break-all;
    text-align: center;
}

.words{
    font-size: calc(20px + 1vw);
    word-break: break-all;
}

.box{
    max-height: 148px;
    text-align: center;
    vertical-align:center;
    line-height: calc(70px + 4vw);
    font-size: calc(30px + 5vw);
    display: flex;
    justify-content: center;
}

.reset{
    border: 1px solid blue;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: lightgreen;
    margin-top: 15px;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.box1{
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid blue;
    color: blue;
}

.box2{
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid blue;
    color: blue;
}

.box3{
    grid-column: 3/4;
    grid-row: 1/2;
    border: 1px solid blue;
    color: blue;
}

.box4{
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid blue;
    color: blue;
}

.box5{
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid blue;
    color: blue;
}

.box6{
    grid-column: 3/4;
    grid-row: 2/3;
    border: 1px solid blue;
    color: blue;
}

.box7{
    grid-column: 1/2;
    grid-row: 3/4;
    border: 1px solid blue;
    color: blue;
}

.box8{
    grid-column: 2/3;
    grid-row: 3/4;
    border: 1px solid blue;
    color: blue;
}

.box9{
    grid-column: 3/4;
    grid-row: 3/4;
    border: 1px solid blue;
    color: blue;
}
